{% extends 'navigation.html' %}
{% load static %}
{% block body %}
<center><h2 style = " color : #181D31; font-weight : bold;margin-top:2%">About Us</h2></center><hr>
<section id="about">
          <div class="container">
               <div class="row">

                    <div class="col-md-6">
                         <img src="{% static 'images/about.png' %}" style="height:350px;width:97%">
                    </div>
                         <div class="col-md-6">
                         <p style="color:#181D31;font-size:22px;">Welcome to the fast growing Real Estate Company ABFA Marketing Islamabad operating from 15 years. Our expert team is serving many housing societies. For marketing purposes and has finished many well-known projects reaching excessive excellency. Use of most modern Strategies of marketing like e-media. Web-based medium for mass connection is one in all our strengths in Real Estate to reach-out most number of clients. ABFA Real Estate Agency is approving By FBR(Federal Board of Revenue) and SECP(Securities and Exchange Commission of Pakistan).
</p>
                    </div>


               </div>
          </div>
     </section>
{% endblock %}