{% extends 'navigation3.html' %}
{% block body1 %}
 <div class="container" style="background:white">
<center><h2 style = " color : #00021a ; font-weight : bold;margin-top:2%">All Seller</h2></center>
<div class="container-fluid" style="margin-top:3%">
</div>

<table class="table responsive" id="myTable">
  <thead style="background:white;">
  <tr>
    <th>Profile Image</th>
      <th>Full Name</th>
    <th>Address</th>
    <th>Contact</th>

  </tr>
  </thead>
   <tbody>

{% for i in prod %}
  <tr>
          <td><img src="{{i.image.url}}" style="width:90px;"> </td>
    <td>{{i.user.first_name}} {{" "}} {{i.user.last_name}}</td>
    <td>{{i.address}}</td>
    <td>{{i.contact}}</td>
<!--    <td>{{i.dob}}</td>-->
<!--    {% if i.membership.fee == "Paid" %}-->
<!--    <td style="color:green">Granted</td>-->
<!--    {% else %}-->
<!--    <td style="color:red">Not Granted</td>-->
<!--    {% endif %}-->
<!--    <td>{{i.membership.fee}}</td>-->
  </tr>
{% endfor %}

    </tbody>
</table>

 </div>

<script>
            var el_up = document.getElementById("GFG_UP");

            el_up.innerHTML =
                "Click on the LINK for further confirmation.";
</script>
{% endblock %}
