{% extends 'navigation.html' %}
{% block body %}
 <div class="container" style="background:white">
<center><h2 style = "color : #181D31 ; font-weight : bold;margin-top:2%">Property Status</h2></center><hr>
<div class="container-fluid" style="margin-top:5%">
</div>

<table class="table responsive" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);" id="myTable">
  <thead style="color:red">
  <tr>
    <th>Sr. No</th>
    <th>Product Name</th>
    <th>Seller Name</th>
<!--    <th>Session Date</th>-->
<!--    <th>Session Time</th>-->
    <th>Status</th>
<!--    <th>Winner</th>-->
  </tr>
  </thead>
   <tbody>

{% for i in pro %}
  <tr>
    <td>{{forloop.counter}}</td>
    <td>{{i.product.name}}</td>
    <td>{{i.user.user.username}}</td>
<!--    <td>{{i.product.session.date.date}}</td>-->
<!--    <td>{{i.product.session.time}}</td>-->
    <td>{{i.product.status.status}}</td>
<!--      {% if i.product.status.status == 'Done' %}-->
<!--    <td>{{i.winner}}</td>-->
      {% else %}
<!--      <td style="color:green">NotStarted/NotProperBid</td>-->
{% endif %}
  </tr>
   {% endfor %}

    </tbody>
</table>

 </div>
{% endblock %}
