{% extends 'navigation.html' %}
{% block body %}
{% load static %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>


</style>
<div class="has-bg-img bg-blend-multiply">
    <img class="bg-img" src="{% static 'images/home2.jpg' %}" style="background-repeat:no-repeat;  background-position:center;
  background-size: cover;height: 100vh;width: 100%"  alt="homepage">
</div>
<!--<div class="image">-->

<!--<div class="transparentbox">-->
<!--<div class="row">-->

<!--    <p style="text-align:center">Online Real Estate System</p>-->

<!--</div>-->




<!--</div>-->

<!--</div>-->


{% block body1 %}
{% endblock %}
{% endblock %}