{% extends 'navigation.html' %}
{% block body %}
{% load static %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>

div.image

  {
  background:url({% static 'images/banner.png' %});
  background-repeat:no-repeat;
  background-position:center;
  background-size: cover;
  background-attachment: fixed;
  width: 99%;
  }



div.transparentbox p

  {
  margin-top:25%;
  margin-left:auto;
  margin-right:auto;
  font-weight:bold;
  font-Size:60px;
  font-family : "Audiowide", sans-serif ;
  color : white;
  font-weight : bold;
  text-align:center;
  }


</style>

<div class="image">

<div class="transparentbox">
<div class="row">

    <p style="text-align:center">Online Real Estate System</p>

</div>




</div>

</div>


{% block body1 %}
{% endblock %}
{% endblock %}