{% extends 'navigation3.html' %}
{% block body1 %}
 <div class="container" style="background:white">
<center><h2 style = " color : #00021a ; font-weight : bold;margin-top:2%">Verify Property</h2></center>
<div class="container-fluid" style="margin-top:3%">
</div>

<table class="table responsive" id="myTable">
  <thead style="background:white;">
  <tr>
    <th>Sr. No</th>
    <th>Product Name</th>
    <th>Image</th>
    <th>Seller</th>
    <th>Status</th>
    <th>Detail</th>
    <th>Assign</th>
  </tr>
  </thead>
   <tbody>

{% for i in prod %}
{% if i.product.status.status == "pending" %}
  <tr>
    <td>{{forloop.counter}}</td>
    <td>{{i.product.name}}</td>
    <td><img src="{{i.product.images.url}}" style="width:100px;height:100px"></td>
<!--    <td>{{i.product.session.date.date}}</td>-->
<!--    <td>{{i.product.session.time}}</td>-->
    <td>{{i.user.user.username}}</td>
    <td>{{i.product.status.status}}</td>
    <td><a href="{% url 'product_detail2' i.product.id %}"><button class="btn btn-primary">Detail</button></a></td>
    <td><a href="{% url 'status' i.product.id %}"><button class="btn btn-primary">Assign</button></a></td>
  </tr>
{% endif %}
{% endfor %}

    </tbody>
</table>

 </div>

<script>
            var el_up = document.getElementById("GFG_UP");

            el_up.innerHTML =
                "Click on the LINK for further confirmation.";
</script>
{% endblock %}
