{% extends 'navigation.html' %}
{% block body %}
{% load static %}

<style type="text/css">
        #map {
            width: 100%;
            height: 380px;
        }



</style>

<div class="container" style="width:60%;margin-top:2%;margin-bottom:4%;box-shadow: 10px ;">
    <center><h4 style="margin:4%">Product Details</h4></center>
    <hr>
    <div class="row" style="padding:20px">
        <div class="col-md-6">
            <img src="{{pro.images.url}}" style="width:100%">
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-6">
                    <span>Property Name : </span>
                </div>
                <div class="col-md-6">
                    <span style="font-weight:bold"> {{pro.name}}</span>
                    <hr>
                </div>

                <div class="col-md-6">
                    <span>Property Category : </span>
                </div>
                <div class="col-md-6">
                    <span style="font-weight:bold"> {{pro.category}}</span>
                    <hr>
                </div>
                <div class="col-md-6">
                    <span>Property Seller : </span>
                </div>
                <div class="col-md-6">
                    <span style="font-weight:bold"> {{pro1.user.user.username}}</span>
                    <hr>
                </div>
                <div class="col-md-6">
                    <span>Property Price : </span>
                </div>
                <div class="col-md-6">
                    <span style="font-weight:bold"> ${{pro.min_price}}.00 /-</span>
                    <hr>
                </div>


            </div>


            <br/>
            {% if pro.temp == 0 %}
            <!--            <form action="{% url 'view_auction' pro.id %}" method="post">-->
            <!--				{% csrf_token %}-->
            <!--				<button type="submit" class="btn btn-primary" style="width:100%" onclick="return confirm('Are you sure?')">Participate</button>-->
            <!--			</form>-->
            {% else %}
            <!--            <div align="center" style="color:red">Already Participated</div>-->
            {% endif %}
        </div>
    </div>
    <div class="col-12">
        <div id="map"></div>
    </div>
    <div id="paypal-button-container"  style="width:400px;margin-left:25%;margin-top:3%" ></div>

</div>

{% block scripts %}
<script src="https://www.paypal.com/sdk/js?client-id=ATAvtqDWjHGNqwZbr1oJyuv1WRLbKEbJ4N7lapc41H8UbIO8bPMwpmful21S7R755eqF44FpxilgDgun&currency=USD&intent=capture&enable-funding=venmo"
        data-sdk-integration-source="integrationbuilder"></script>
<script>
let propertyId = {{ pro.pk }}
          const paypalButtonsComponent = paypal.Buttons({
              // optional styling for buttons
              // https://developer.paypal.com/docs/checkout/standard/customize/buttons-style-guide/
              style: {
                color: "gold",
                shape: "rect",
                layout: "vertical"

              },

              // set up the transaction
              createOrder: (data, actions) => {
                  // pass in any options from the v2 orders create call:
                  // https://developer.paypal.com/api/orders/v2/#orders-create-request-body
                  const createOrderPayload = {
                      purchase_units: [
                          {
                              amount: {
                                  value: {{pro.min_price}}
                              }
                          }
                      ]
                  };

                  return actions.order.create(createOrderPayload);
              },

              // finalize the transaction
              onApprove: (data, actions) => {
                  const captureOrderHandler = (details) => {
                      const payerName = details.payer.name.given_name;
<!--                      console.log('Transaction completed');-->
swal({
  title: "Success!",
  text: "Transaction completed",
  type: "success",
  timer: 2000,
  showConfirmButton: false
}, function(){
      window.location = `/add/${propertyId}/to/me/`;
});
                  };

                  return actions.order.capture().then(captureOrderHandler);
              },

              // handle unrecoverable errors
              onError: (err) => {
                  console.error('An error prevented the buyer from checking out with PayPal');
              }
          });

          paypalButtonsComponent
              .render("#paypal-button-container")
              .catch((err) => {
                  console.error('PayPal Buttons failed to render');
              });



</script>
{% endblock scripts %}

<script type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBUCnILl7ok0o9UQwGUn8_1xMexXpIXBEI&callback=initAutocomplete&libraries=places&v=weekly"></script>

<script src="https://unpkg.com/location-picker/dist/location-picker.min.js"></script>
<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>

<script>
        var map = new google.maps.Map(document.getElementById('map'), {
  zoom: 13,
  center: {lat: {{pro.lati_tude}}, lng: {{pro.longi_tude}}}
});

// Add a marker to the map
var marker = new google.maps.Marker({
  position: {lat: {{pro.lati_tude}}, lng: {{pro.longi_tude}}},
  map: map,
});





</script>


{% endblock %}