{% extends 'navigation.html' %}
{% block body %}
{% load static %}

 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<div class="container" style="width:100%;background:white">
      <center><h2 style="padding-top:;margin-top:5%;font-weight:bold;color:#181D31">View Property</h2></center>
<hr>


    <div class="form-row">

<!--        <div class="col-md-6">-->
<!--     <div class="form-group">-->
<!--    <label for="exampleFormControlSelect1">Categories</label>-->

<!--         			{% for i in cat %}-->
<!--				<a href="{% url 'view_property' 0 %}"-->
<!--					class="list-group-item list-group-item-action" value="{{i.id}}">{{i.id}} {{i.name}}</a>-->
<!--				{% endfor %}-->

<!--     </div>-->
<!--        </div>-->

<!--        <form>-->
<!--            <input type="text" name="servicename" value="" />-->
<!--            <input type="submit" value="search" />-->
<!--        </form>-->

 <div class="container-fluid">
<!--     <div class="search">-->
<!--         <input type="text" name="" id="find" placeholder="Search Here..." onkeyup="search()"  />-->
<!--     <div/>-->
   	<h1 class="text-center mt-5 mb-5">
                    <center><h3 align="center" style="color:red">{{message1}}</h3></center>
   	</h1>
   		<div class="row" style="margin-bottom:5%">
			{% for j in pro %}
            {% if j.status.status == "Accept" or j.status.status == "Done" %}
				<div class="col-md-4">
                    <div class="product" style="padding:px;width:80%;margin-bottom:5%;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
					<center>
                        <img src="{{j.images.url}}" style="width:100%;height:240px;float:center"></center>
   						<div style="padding:20px">
   						<h5 style="color:#181D31;font-weight:bold"> {{j.name}} </h5>
                            <h5 style="color:#181D31;font-weight:bold"> {{j.category}} </h5>
                            <div class="row">
                            <div class="col-md-7"><span style="font-weight:bold;color:#181D31">${{j.min_price}}</span>
                            </div><div class="col-md-5" align="right"><span style="font-weight:bold;color:grey">
                                <a href="{% url 'product_detail' j.id %}"> <i class="fa fa-info"></i> Detail</a></span></div>
                            </div></div>
                        {% if j.temp == 0 %}
<!--                                <form action="{% url 'view_auction' j.id %}" method="post">-->
<!--								{% csrf_token %}-->
<!--								<button type="submit" class="btn btn-primary" style="width:100%" onclick="return confirm('Are you sure?')">Participate</button>-->
<!--							</form>-->
                        {% else %}
                        {% if j.temp == 2 %}
<!--                        <a href="{% url 'start_auction' j.id %}" ><button type="submit" class="btn btn-danger" style="width:100%">Currently in Bid =</button></a>-->
                        {% else %}
                         {% if j.temp == 3 %}
<!--                             <a href="{% url 'winner1' j.id %}" ><button type="submit" class="btn btn-danger" style="width:100%">-->
<!--                                 <i class="fa fa-user"></i> winner announced</button></a>-->
                        {% else %}
<!--                        <div align="center">-->
<!--                 				<p style="color:red">Already Participated</p>-->
<!--                        </div>-->
{% endif %}
{% endif %}
{% endif %}
   				</div></div>
            {% endif %}
			{% endfor %}

	</div>
 </div>

      </div>
{% if terror %}
<script>
    alert('Participation successfull');
    window.location = "{% url 'view_auction' 0 %}";
</script>
{% endif %}
    <script type="text/javascript">
        function search() {
        let filter = document.getElementById('find').value.toUppercase();

        let item = document.querySelectorAll('.product');

        let l = document.getElementsByTagName('h5');

        for(var i = 0;i<=l.length;i++){
            let a=item[i].getElementsByTagName('h5')[0];

            let value=a.innerHTML || a.innerText || a.textContent;

            if(value.toUpperCase().indexOf(filter) > -1){
                item[i].style.display="";
            }
            else
            {
                item[i].style.display="none";
            }
        }
    }
    </script>
{% endblock %}